
<form action="/payment/results">
  <div><label for="apple"> APR </label>
  <input id="apple" type="text" placeholder="Eg: 5.4" name="user_apr"></div>

  <div><label for="orange"> Number of years </label>
  <input id="orange" type="text" placeholder="How many years to repay?" name="user_years"></div>

  <div><label for="melon"> Principal </label>
  <input id="melon" type="text" placeholder="How much principal" name="user_pay"></div>

  <div><button>Calculate monthly payment</button></div>
</form>
