<h1>Howdy</h1>

<form>
  <label for="new"> Enter a number </label>
  <input id="new" type="text" placeholder="What number do you want to square?" name="elephant" >

  <button> Calculate square </button>
</form>
