
<form action=/square_root/results>
  <label for="new"> Enter a number </label>

  <input id="new" type="text" name="number" placeholder="What number do you want to enter?" >

  <div><button> Calculate square root </button></div>

</form>
