
<form action="/square/results">
  <div><label for="new"> Enter a number </label></div>
  <input id="new" type="text" placeholder="What number do you want to square?" name="number" >

  <div><button> Calculate square </button></div>
</form>
